---
import { getEntry, render } from "astro:content";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";
import Comment from "@components/Comment/index.astro";

import links from "@public/links.json"
import LinksList from '@components/LinksList.astro'

// 获取 markdown 格式的页面补充内容
const linksPost = await getEntry("spec", "links");
if (!linksPost) {
  throw new Error("Links page content not found");
}

// 渲染 Markdown 内容为组件
const { Content } = await render(linksPost);

// links 的原始数据处理
const { origin } = links

// 在这里直接硬编码你的站点信息（点击复制部分）
const applyTip = [
  { name: 'NAME', val: '涵哲子居' },
  { name: 'URl', val: 'https://iluc.cn' },
  { name: 'LOGO', val: 'https://iluc.cn/logo.webp' },
  { name: 'DESC', val: '天哲地理，共公卿好' }
]
---

<MainGridLayout title={i18n(I18nKey.links)} description={i18n(I18nKey.links)}>
  <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
    <div class="card-base z-10 px-9 py-6 relative w-full ">

      <h2 id='个人收藏' class="text-2xl font-bold my-4 text-neutral-900 dark:text-neutral-100">个人收藏</h2>
      <LinksList list={origin[0]} />

      <h2 id='先链后友' class="text-2xl font-bold my-4 text-neutral-900 dark:text-neutral-100">先链后友</h2>
      <LinksList list={origin[1]} />

      <h2 id='先友后链' class="text-2xl font-bold my-4 text-neutral-900 dark:text-neutral-100">先友后链</h2>
      <LinksList list={origin[2]} />

      <p class="mt-8">本站信息（点击复制）：</p>
      <blockquote class='not-prose grid grid-cols-[auto_1fr] gap-x-2 break-words border-s-4 ps-4 my-3'>
        {
          applyTip.map(({ name, val }) => {
            const script = `navigator.clipboard.writeText('${val}');document.dispatchEvent(new CustomEvent('toast',{detail:{message:'已复制 "${val}" 到剪贴板!'}}))`
            return (
              <>
                <span class='text-end font-medium'>{name}:</span>
                <samp class='cursor-pointer text-neutral-600 dark:text-neutral-400 hover:text-[var(--primary)]' onclick={script}>
                  {val}
                </samp>
              </>
            )
          })
        }
      </blockquote>
      
	  <div class="prose dark:prose-invert max-w-none mb-6">
        <Content />
      </div>

    </div>
  </div>

  <Comment post={linksPost}></Comment>
</MainGridLayout>

