---

import { profileConfig } from "../config";
import { url } from "../utils/url-utils";

const currentYear = new Date().getFullYear();

// const commitHash = import.meta.env.PUBLIC_COMMIT_HASH || 'unknown'
const commitHash = import.meta.env.VERCEL_GIT_COMMIT_SHA || 
                   import.meta.env.PUBLIC_COMMIT_HASH || 
                   'unknown'

const buildDate = new Date().toISOString()
const displayHash = commitHash ? commitHash.slice(0, 7) : 'unknown'

---

<!--<div class="border-t border-[var(&#45;&#45;primary)] mx-16 border-dashed py-8 max-w-[var(&#45;&#45;page-width)] flex flex-col items-center justify-center px-6">-->
<div class="transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32"></div>
<!--<div class="transition bg-[oklch(92%_0.01_var(&#45;&#45;hue))] dark:bg-black rounded-2xl py-8 mt-4 mb-8 flex flex-col items-center justify-center px-6">-->
<div class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12 flex flex-col items-center justify-center px-6">
    <div class="transition text-50 text-sm text-center">
		&copy; <span id="copyright-year">2025 - {currentYear}</span> <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://afingpo.top">{profileConfig.name}</a>，采用
		<a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> 许可
		<br>
		<a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('rss.xml')}>RSS订阅</a> /
		<a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('sitemap-index.xml')}>网站地图</a> /
		<a class="transition link text-[var(--primary)] font-medium" href="#" id="open_preferences_center">更新您的Cookie</a>
		<br>
		由
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://astro.build">Astro</a> 与
		<a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a>构建本站页面
		本站代码由Github托管且
		<a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/afingpo/astroBlog">计划开源</a>
		<a class="transition link text-black/30 dark:text-white/30 hover:text-[var(--primary)] text-xs ml-1" target="_blank" href={`https://github.com/afoim/fuwari/commit/${commitHash}`}>({commitHash} @ {buildDate})</a>
		<!--
		<br>
		<a class="transition link text-[var(--primary)] font-medium inline-flex items-center" href="https://" target="_blank"><img alt="" src="/favicon/foot-icp.png" class="h-4 mr-1">_ICP________备号__</a>
		-->	
	</div>
</div>
