---
import type { CollectionEntry } from "astro:content";
import { getPostUrlBySlug } from "@utils/url-utils";
import PostCard from "./PostCard.astro";
import MiniCard from "./MiniCard.astro";

const { page } = Astro.props;

let delay = 0;
const interval = 50;

// 在 Frontmatter 部分预处理逻辑，避免在下方 HTML 模板中定义变量
const posts = page.data.map((entry: CollectionEntry<"posts">, index: number) => {
    const isEssay = entry.data.pType === "essay";
    // 判断是否为单出来的最后一个 essay
    const isLoneEssay = isEssay && (index === page.data.length - 1) && (index % 2 === 0);
    
    return {
        entry,
        isEssay,
        isLoneEssay,
        url: getPostUrlBySlug(entry.slug)
    };
});
---

<div class="transition grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
    {posts.map((item) => (
        item.isEssay ? (
            <div class:list={[
                "flex",
                { "md:col-span-2": item.isLoneEssay }
            ]}>
                <MiniCard
                    entry={item.entry}
                    title={item.entry.data.title}
                    url={item.url}
                    published={item.entry.data.published}
                    tags={item.entry.data.tags}
                    category={item.entry.data.category}
                    description={item.entry.data.description}
                    words={item.entry.data.words}
                    minutes={item.entry.data.minutes}
                    showEnterBtn={true}
                    class:list="onload-animation w-full"
                    style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
                />
            </div>
        ) : (
            <div class="md:col-span-2 flex">
                <PostCard
                    entry={item.entry}
                    title={item.entry.data.title}
                    tags={item.entry.data.tags}
                    category={item.entry.data.category}
                    published={item.entry.data.published}
                    updated={item.entry.data.updated}
                    url={item.url}
                    image={item.entry.data.image}
                    description={item.entry.data.description}
                    draft={item.entry.data.draft}
                    class:list="onload-animation w-full"
                    style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
                ></PostCard>
            </div>
        )
    ))}
</div>

